<h3>Cведения о заключенных и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки</h3>

<table itemprop="internationalDog" class="org-tbl" border="1" cellspacing="0" cellpadding="10 5" style="border-collapse: collapse;" align="center">
  <thead>
    <tr>
      <td>№</td>
      <td>Государство</td>
      <td>Наименование организации</td>
      <td>Наименование на языке оригинала или на английском языке, Тип документа, Дата подписания, Номер, Срок действия</td>
    </tr>
  </thead>
  <tbody>{% for item in sheet %}
    <tr>
      <td>{{item['id']}}</td>
      <td itemprop="stateName">{{item['country']}}</td>
      <td itemprop="orgName">{{item['name']}}</td>
      <td itemprop="dogReg">{{item['dog']}}</td>
    </tr>{% endfor %}
  </tbody>
</table>