<h3>Информация о численности обучающихся по реализуемым образовательным программам</h3>

<table itemprop="eduOp" class="org-tbl" border="1" cellspacing="0" cellpadding="10 5" style="border-collapse: collapse;" align="center">
<thead>
  <tr>
    <td>Код</td>
    <td>Наименование специальности, направления подготовки</td>
    <td>Уровень образования</td>
    <td>Образовательная программа, направленность,<br>профиль, наименование научной специальности</td>
    <td>Формы обучения</td>
    <td>Год набора</td>
    <td>Описание образовательной программы</td>
    <td>Учебный план</td>
    <td>Аннотации к рабочим программам дисциплин</td>
    <td>Рабочие программы дисциплин</td>
    <td>Календарный учебный график</td>
    <td>Методические и иные документы, разработанные для обеспечения образовательного процесса</td>
    <td>Информация о практиках, предусмотренных соответствующей образовательной программой</td>
    <td>Использование электронного обучения и дистанционных технологий</td>
  </tr>
</thead>
<tbody>{% for item in sheet %}
  <tr>
    <td itemprop="eduCode">{{item['code']}}</td>
    <td itemprop="eduName">{{item['name']}}</td>
    <td itemprop="eduLevel">{{item['level']}}</td>
    <td itemprop="eduProf">{{item['prof']}}</td>
    <td itemprop="eduForm">{{item['form']}}</td>
    <td itemprop="eduYear">{{item['year']}}</td>
    <td itemprop="opMain">{{item['OOP']}}</td>
    <td itemprop="educationPlan">{{item['plan']}}</td>
    <td itemprop="educationAnnotation">{{item['ann']}}</td>
    <td itemprop="educationRpd">{{item['rpd']}}</td>
    <td itemprop="educationShedule">{{item['shl']}}</td>
    <td itemprop="methodology">{{item['met']}}</td>
    <td itemprop="eduPr">{{item['prac']}}</td>
    <td itemprop="eduEl">{{item['eos']}}</td>
  </tr>{% endfor %}
</tbody>
</table>