<h3>Информации о трудоустройстве выпускников прошлого учебного года</h3>

<table itemprop="graduateJob" class="org-tbl" border="1" cellspacing="0" cellpadding="10 5" style="border-collapse: collapse;" align="center">
  <thead>
    <tr>
      <td rowspan="2">Код</td>
      <td rowspan="2">Наименование профессии, специальности, направления подготовки</td>
      <td rowspan="2">Образовательная программа, направленность, профиль, наименование научной специальности</td>
      <td rowspan="2">Форма обучения</td>
      <td colspan="2" style="text-align: center;">2023 год</td>
    </tr>
    <tr>
      <td>Количество выпускников</td>
      <td>Количество трудоустроенных выпускников</td>
    </tr>
  </thead>
  <tbody>{% for item in sheet %}
    <tr>
      <td itemprop="eduCode">{{item['code']}}</td>
      <td itemprop="eduName">{{item['name']}}</td>
      <td itemprop="eduProf">{{item['prof']}}</td>
      <td itemprop="eduForm">{{item['form']}}</td>
      <td itemprop="v1">{{item['v1']}}</td>
      <td itemprop="t1">{{item['t1']}}</td>
    </tr>{% endfor %}
  </tbody>
</table>